:root { 
  --background-color-light: #1f2937; 
  --background-color-light2: #2d3748; 
  --background-color-light3: #374151; 
  --background-color-light4: #718096; 
  --background-color-light5: #b7bdc4; 
  --background-color-dark: #1a202c; 
  --text-color-light: #d6d9dd; 
  --text-color-dark: #a7abb2; 
  --blue-color-light: #3c82f6; 
  --blue-color-dark: #4878b4; 
  --background-color-light88:#5a6e7c;
  --user-msg-color: #4bb974;
}